@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IEEE SECON 2018</h1>
    <p class="lead"> Welcome to SoutheastCon 2018. Where Computer Scientists, Electrical, and Computer Engineering professionals, 
    faculty and students to share the latest information through technical sessions, tutorials, and exhibits.  </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create An Account</h2>
        <p>
            Create an account to keep track of your events, or competitions with your own schedule. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Live Competition Live Feed</h2>
        <p>Watch the live score feed and video stream of the competitions. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Event schedule</h2>
        <p>Complete schedule of all major events at SECON 2018.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>